<%-include('../layouts/admin_header.ejs')%>
<%-include('../layouts/flashes.ejs')%>

<div class="container-fluid">
  <div class="row">
    <table class="table table-hover table-primary table-responsive-md">
      <thead>
        <tr>
          <th scope="col">Member's Name</th>
          <th scope="col">Member's Phone Number</th>
          <th scope="col">Member's Email</th>
          <th scope="col">Call Action</th>
          <th scope="col">Email Action</th>
          <th scope="col">Whatsapp Action</th>
        </tr>
      </thead>
      <tbody>
        <%users.forEach(user=>{%>
        <tr>
          <td><%=user.name%></td>
          <td><%=user.phoneNumber%></td>
          <td><%=user.email%></td>
          <td>
            <a href="tel:<%=user.phoneNumber%>" class="btn btn-success mr-4">
              Call <%=user.name%> <i class="fas fa-phone"></i
            ></a>
          </td>
          <td>
            <a
              class="btn btn-warning mr-4"
              href="/admin/user/email/<%=user._id%>"
              >Email <%=user.name%> <i class="fas fa-envelope"></i>
            </a>
          </td>
          <td>
            <a
              href="https://wa.me/<%=user.phoneNumber%>?text=Hello%20Our%20Awesome%20Pateron%20<%=user.name%>.Hope%20You%20Are%20Doing%20Great%20Today.%20Am%20An%20Admin%20In%20Smile%20For%20The%20Needaid%20Foundation%20Who%20Wants%20To......%20"
              class="btn btn-danger mr-4"
            >
              Whatsapp <%=user.name%> <i class="fab fa-whatsapp"></i
            ></a>
          </td>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-md-4">
      <!-- Default form contact -->
      <form
        method="POST"
        class="text-center border border-light p-5"
        action="/admin/users/questionaire/<%=questionAndAns._id%>"
        method="POST"
      >
        <p class="h4 mb-4 text-success">
          <i class="fas fa-question-circle">Add Recently Asked Questions</i>
        </p>
        <input
          type="text"
          id="defaultContactFormName"
          class="form-control mb-4"
          placeholder="Question"
          name="question"
          value="<%=questionAndAns.question%>"
        />
        <!-- Message -->
        <div class="form-group">
          <textarea
            class="form-control rounded-0"
            id="exampleFormControlTextarea2"
            rows="3"
            cols="10"
            placeholder="Answer To Question"
            name="answer"
          ><%=questionAndAns.answer%></textarea>
        </div>

        <!-- Send button -->
        <button class="btn btn-outline-success btn-block" type="submit">
          Update Question
        </button>
      </form>

      <!-- Default form contact -->
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-bordered table-responsive-lg">
        <thead>
          <tr>
            <th>Qustion Date</th>
            <th>Question</th>
            <th>Answer To Question</th>

            <!-- <th scope="col">Amount</th> -->
          </tr>
        </thead>
        <tbody>
          <% allQuestions.forEach(question=>{ %>
          <tr>
            <td><%=question.date.toDateString()%></td>
            <td><%=question.question%></td>
            <td><%=question.answer%></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%-include('../layouts/admin_footer.ejs')%>
