<%-include('../layouts/admin_header.ejs')%>
<div class="container-fluid">
  <div class="row">
    <table class="table table-hover table-primary table-responsive-md">
      <thead>
        <tr>
          <th scope="col">Member's Name</th>
          <th scope="col">Member's Phone Number</th>
          <th scope="col">Member's Email</th>
          <th scope="col">Call Action</th>
          <th scope="col">Email Action</th>
          <th scope="col">Whatsapp Action</th>
        </tr>
      </thead>
      <tbody>
        <%users.forEach(user=>{%>
        <tr>
          <td><%=user.name%></td>
          <td><%=user.phoneNumber%></td>
          <td><%=user.email%></td>
          <td>
            <a href="tel:<%=user.phoneNumber%>" class="btn btn-success mr-4">
              Call <%=user.name%> <i class="fas fa-phone"></i
            ></a>
          </td>
          <td>
            <a class="btn btn-warning mr-4" href="/admin/user/email/<%=user._id%>"
              >Email <%=user.name%> <i class="fas fa-envelope"></i>
            </a>
          </td>
          <td>
            <a
              href="https://wa.me/<%=user.phoneNumber%>?text=Hello%20Our%20Awesome%20Pateron%20<%=user.name%>.Hope%20You%20Are%20Doing%20Great%20Today.%20Am%20An%20Admin%20In%20Smile%20For%20The%20Needaid%20Foundation%20Who%20Wants%20To......%20"
              class="btn btn-danger mr-4"
            >
              Whatsapp <%=user.name%> <i class="fab fa-whatsapp"></i
            ></a>
          </td>
        
        </tr>
        <% })%>
       
      </tbody>


    </table>
  </div>
  <%-include('../layouts/flashes')%>
  <div class="row">
    <div class="col-md-6">
      
      <!-- Default form contact -->
      <form method="POST" class="text-center border border-light p-5" action="/admin/user/email/<%=aUser._id%>" id="myForm">
        <p class="h4 mb-4">Contact <%=aUser.name%></p>

        
        <input
          type="text"
          id="defaultContactFormName"
          class="form-control mb-4"
          placeholder="Subject To Address"
          name="subject"
          value="<%= typeof subject != 'undefined' ? subject : '' %>"
        />

       

        <!-- Message -->
        <div class="form-group">
          <textarea
            class="form-control rounded-0"
            id="exampleFormControlTextarea2"
            rows="9"
            cols="30"
            placeholder="Message"
            name="message"
            
          ><%= typeof message != 'undefined' ? message : '' %></textarea>
        </div>

       

        <!-- Send button -->
        <button class="btn btn-primary btn-block" type="submit" id="disableMe">Send</button>
      </form>
      <!-- Default form contact -->
    </div>
    <div class="col-md-6 mt-5 ">
      <h1 class="text-center">Members Details here</h1>
      <hr>
      <div class="avatar  text-center">
        <%if(aUser.uploader){%>
          <img
          src="/uploads/<%=aUser.uploader%>"
          width="12%"
          height="100px"
          class="img-fluid rounded-circle z-depth-1 pd-2   mg-interact"
        />

      <%  }else{%>
        No pic

       <% } %>
        
      </div>


      
      <h5 class="text-center">Name: <%=aUser.name%></h5>
      <h5 class="text-center">Email: <%=aUser.email%></h5>
      <h5 class="text-center">Sex: <%=aUser.sex%></h5>
      <h5 class="text-center">Phone: <%=aUser.phoneNumber%></h5>
      <h5 class="text-center">Location: <%=aUser.location%></h5>
     <% if(aUser.isAdmin==1){ %>
      <h5 class="text-center">Admin Status: An Admin</h5>
 <%   }else{ %>
    <h5 class="text-center">Admin Status: Not An Admin</h5>


<% }%>




    </div>
  </div>
</div>

<%-include('../layouts/admin_footer.ejs')%>
