<%-include('../layouts/home_header.ejs')%>
<%announcements.forEach(announcement=>{%>
<div class="alert success">
			<input type="checkbox" id="alert2"/>
			<label class="close" title="close" for="alert2">
		  <i class="fas fa-times mt-30"></i>
		</label>
		<p class="inner">
			<i class="fas fa-bullhorn"></i>	<strong>We Are Happy To Announce To You That</strong>
			<span class="pd"><%=announcement.message%></span>
			</p>
		</div>
		<%})%>
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="hero-content" >
			  <h1 class="wow fadeInUp intro-fnt" data-wow-delay=".2s">Welcome On Board! <span>We welcome you to our awesome foundation's platform</span> </h1>
			  <hr class="hr">
              <p class="wow fadeInUp big" data-wow-delay=".4s">
               This is the place where you get to surf <br><br>  and know more about our <br><br> organization,why we exist and the reason <br><br> why you must join us in putting smiles <br><br> on the faces of the vunerable!
              </p>
              <a href="#services" rel="nofollow" class="btn btn-outline-success btn-hover wow fadeInUp pd" data-wow-delay=".6s">Look Around</a>
            </div>
					</div>
					<div class="col-lg-6">
						<div class="hero-img wow fadeInUp mt-5" data-wow-delay=".5s">
							<img src="/img/undraw_in_real_life_v8fk.svg" alt="">
						</div>
					</div>
        </div>
	  </div>
	
    </section>
		<!-- ========================= hero-section end ========================= -->

		<!-- ========================= service-section start ========================= -->
		<section id="services" class="service-section pt-150">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-6 col-lg-8">
						<div class="section-title text-center mb-70">
							<span class="wow fadeInUp" data-wow-delay=".2s">Our Services</span>
							<h1 class="wow fadeInUp " data-wow-delay=".4s">Platform Fundamentals</h1>
							<hr class="hr">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".2s">
							<div class="icon">
								<img src="/img/jigsaw.svg" alt="">
							</div>
							<div class="content">
								<h3>Our Hallmark</h3>
								<p class="p-sm">We seek to build and make the  future generation of the vunerable fruitful and prosperous  by building their future with the littlle we have</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".4s">
							<div class="icon">
								<img src="/img/svgs/university.svg" alt="">
							</div>
							<div class="content">
								<h3>Educational Support</h3>
								<p class="p-sm">Inorder to make these vunerable individuals happy,we will need to build them through one of the key aspects in humanity,and that is <strong>Education</strong></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<div class="icon">
								<img src="/img/svgs/money.svg" alt="">
							</div>
							<div class="content">
								<h3>Fund Raising</h3>
								<p class="p-sm">With our state of the arts integrated system,we register new paterons onto our platform,contact them every month and get the little they  give to us.We use these funds to support those in need of them</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".2s">
							<div class="icon">
								<img src="/img/svgs/heart.svg" alt="">
							</div>
							<div class="content">
								<h3>Who Qualifies</h3>
								<p class="p-sm">We do not discriminate,we sponsor anyone in need,We do not take race,sex or culture into consideration,this <strong>NGO</strong> is there for all </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".4s">
							<div class="icon">
								<img src="/img/svgs/secure-shield.svg" alt="">
							</div>
							<div class="content">
								<h3>Security</h3>
								<p class="p-sm">Our funds are secured,we have a team of experts who manage and constantly calculate our Monthly,Yearly and Decade earnings.It is then broadcasted to the public domain for witnessing and assurance</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="single-service wow fadeInUp" data-wow-delay=".6s">
							<div class="icon">
								<img src="/img/svgs/care.svg" alt="">
							</div>
							<div class="content">
								<h3>We Care</h3>
								<p class="p-sm">We don't just provide funding,but we also seek to visit and keep track of how our beneficiaries are doing.This is to make sure resource allocation is utilized as it should</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= service-section end ========================= -->

		<!-- ========================= about-section start ========================= -->
		<section id="about" class="about-section pt-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="about-img wow fadeInUp" data-wow-delay=".5s">
							<img src="/img/svgs/about.png" class="" alt="">
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<div class="section-title">
								<span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
								<h1 class="wow fadeInUp" data-wow-delay=".4s">This Foundation Came Into Being In Early 2020</h1>
								<hr class="hr">
								<p class=" p-sm wow fadeInUp" data-wow-delay=".6s">Our community have about 30+ paterons earning to get more before the end of the year.We seek to expand our financial base so we can help more who needs it the most.</p>
							</div>
							<div class="rating-meta d-flex align-items-center wow fadeInUp" data-wow-delay=".65s">
								<h5>Assurance 4.9</h5>
								<div class="rating">
									<i class="lni lni-star-filled"></i>
									<i class="lni lni-star-filled"></i>
									<i class="lni lni-star-filled"></i>
									<i class="lni lni-star-filled"></i>
									<i class="lni lni-star-filled"></i>
								</div>
							</div>

							<div class="counter-up wow fadeInUp" data-wow-delay=".8s">
								<div class="single-counter">
									<h3 id="secondo1" class="countup" cup-end="8" cup-append="7.9%"></h3>
									<h5 class="mgr">Convenience  </h5>
								</div>
								<div class="single-counter position-relative">
									<h3 id="secondo2" class="countup" cup-end="6" cup-append="5%">45 Members </h3>
									<h5 class="">Member Trust</h5>
								</div>
								<div class="single-counter ">
									<h3 id="secondo3" class="countup " cup-end="9" cup-append="2.5%">93 </h3>
									<h5 class="mgl">Reviews</h5>
								</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= about-section end ========================= -->

		<!-- ========================= delivery-section start ========================= -->
		<section id="register" class="delivery-section pt-150">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-5">
						<div class="delivery-content">
							<div class="section-title">
								<span class="wow fadeInUp" data-wow-delay=".2s">Registeration</span>
								<h1 class="mb-35 wow fadeInUp" data-wow-delay=".4s">It wont take more than 5 minutes to register</h1>
								<hr class="hr">
								<p class="mb-35 p-sm wow fadeInUp" data-wow-delay=".6s">You simply fill a form,we need your details so as to get intouch with you when we need to. During registeration,we take your name,email,password(for login access),your location among other important details.</p>
								<a href="/register" class="btn btn-outline-success wow fadeInUp" data-wow-delay=".8s">Register Now</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 order-first order-lg-last">
						<div class="delivery-img wow fadeInUp" data-wow-delay=".5s">
							<img src="/img/svgs/undraw_mobile_payments_vftl.svg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ========================= delivery-section end ========================= -->

		<!-- ========================= about-section start ========================= -->
		<section id="received" class="about-section received-section pt-150">
			<div class="container">
				<div class="col-md-12 single-service wow fadeInUp" data-wow-delay=".3s"">
					<h2 class="text-center gr">Usually Asked Questions And Answers</h2>
					<hr>
				<%	questions.forEach(question=>{ %>
						<article class="question">
							<!-- question title -->
							<div class="question-title">
							  <p><%=question.question%>?</p>
							  <button type="button" class="question-btn">
								<span class="plus-icon">
								  <i class="far fa-plus-square"></i>
								</span>
								<span class="minus-icon">
								  <i class="far fa-minus-square"></i>
								</span>
							  </button>
							</div>
							<!-- question text -->
							<div class="question-text">
							  <p class="p-sm">
								<%=question.answer%>
							  </p>
							</div>
						  </article>
				<%	}) %>
					
				</div>
				</div>
			</div>
		</section>
		<!-- ========================= about-section end ========================= -->

		<div class="container my-5">


			<!--Section: Content-->
			<section class="team-section text-center dark-grey-text">
		  
			  <!-- Section heading -->
			  <h3 class="font-weight-bold pb-2 mb-4 text-success" >Our Fantastic Paterons</h3>
			  <hr class="hr-gr">
			  <!-- Section description -->
			  <p class="text-muted w-responsive mx-auto mb-5">We Will Be Able To Archive Our Aim,That Is Putting Smiles On The Faces Of The Needy Thanks To These Wonderful Personalities,They Contribute To The Organization Verbally,Financially,Socially,Physically And Any Thing In Between,We Thank You.❤️</p>
		  
			  <!-- Grid row-->
			  <div class="row text-center text-md-left">
		  
				<!-- Grid column -->
				<%users.forEach(user=>{ %>
				<%	if(user.status===true){ %>
					<div class="col-lg-6 col-md-12 mb-5 d-md-flex justify-content-between">
					<div class="avatar mb-md-0 mb-4 mx-4">
					<%	if(user.uploader){  %>
							<img src="/uploads/<%=user.uploader%>" class="rounded z-depth-1" alt="SFTNA">
					<%	} else{ %>
						<img src="public/img/sftna.jpg" class="rounded z-depth-1" alt="SFTNA">
						<% } %>
					</div>
					<div class="mx-4">
					  <h4 class="font-weight-bold mb-3"><%=user.name%></h4>
					  <h6 class="font-weight-bold grey-text mb-3"><%=user.role%></h6>
					  <p class="grey-text"><%=user.reason%></p>
					  <!-- Facebook-->
					  <a class="p-2 fa-lg fb-ic">
						<i class="fab fa-facebook-f"> </i>
					  </a>
					  <!-- Twitter -->
					  <a class="p-2 fa-lg tw-ic">
						<i class="fab fa-twitter"> </i>
					  </a>
					  <!--Dribbble -->
					  <a class="p-2 fa-lg dribbble-ic">
						<i class="fab fa-dribbble"> </i>
					  </a>
					</div>
				  </div>
					<%	} %>

				  <!-- Grid column -->
				  <% }) %>
			  </div>
			  <!-- Grid row-->
		  
			</section>
			<!--Section: Content-->
		  
		  
		  </div>
		<div class="col-md-12 wow fadeInUp crd"  id="contact" data-wow-delay=".4s">
			<h3 class="text-success text-center mr-2">Contact Us For Any Enquiries <i class="fas fa-paper-plane"></i></h3>

			<form action="/contact" method="POST" id="myForm">
				<div class="row">
					
						<div class="form-group">
							<input type="text" class="form-control none" id="name" name="name" placeholder="Full Name" required>
							<div class="help-block with-errors"></div>
							<br>
						
						<div class="form-group">
							<input type="email" class="form-control none" name= "email" id="email" placeholder="Email" required>
							<div class="help-block with-errors"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control none" name="subject" id="subject" placeholder="Subject">
						</div>
					
				
						<div class="form-group">
							<textarea id="message" name="message"  class="form-control none" rows="3" placeholder="Message" required></textarea>
							<div class="help-block with-errors"></div>
						</div>
						<button type="submit"  id="disableMe" class="btn btn-md btn-common btn-form-submit btn-outline-success my-bt"> Send Message</button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>
					
				</div>
			</form>
		</div>
		</div>
	<%-include('../layouts/home_footer.ejs')%>